# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Ignore compiled output files
*.class
*.jar

# Ignore macOS system files
.DS_Store

# Ignore IDE-specific files
*.iml
*.xml
.idea/

# Ignore other common files you don't want to track
out.*